*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E9873E;
    /* padding-top: 100px; */
}

header{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

header img{
    height: 60px;
}

header h1{
    color: ghostwhite;
}

.container{
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}

form{
    display: grid;
}

form button{
    background-color: #FF7100;
    color: #FFF;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 8px;
    margin-top: 16px;
}

button:hover{
    background-color: #FF7B12;
}

.images{
    display: flex;
}

#forno_cheio{
    display: none;
    height: 390px;
}

#forno_vazio{
    height: 390px;
    display: none;
}

p{
    color: ghostwhite;
}